<%- include('header'); -%>

<div class="box">
  <h2>Hi I'm NFZJ</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam distinctio
    praesentium, rem quia dignissimos neque ullam id. Qui, ullam ducimus!
  </p>
</div>

<%- include('footer'); -%>
